<div class="container-fluid">
    <nav class="navbar navbar-expand-xxl navbar-dark bg-dark" aria-label="Seventh navbar example">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">Material Angular</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExampleXxl" aria-controls="navbarsExampleXxl" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
    
          <div class="collapse navbar-collapse" id="navbarsExampleXxl">
            <ul class="navbar-nav me-auto mb-2 mb-xl-0">
              <li class="nav-item">
                <a class="nav-link" [routerLinkActiveOptions]="{ exact: true }" routerLinkActive="router-link-active"
            routerLink="home">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" [routerLinkActiveOptions]="{ exact: true }" routerLinkActive="router-link-active"
            routerLink="products">Products</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" [routerLinkActiveOptions]="{ exact: true }" routerLinkActive="router-link-active"
                routerLink="fag">Fag</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" [routerLinkActiveOptions]="{ exact: true }" routerLinkActive="router-link-active"
                routerLink="services">Services</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" [routerLinkActiveOptions]="{ exact: true }" routerLinkActive="router-link-active"
                routerLink="contact-us">Contact us</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown" aria-expanded="false">Dropdown</a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="#">Action</a></li>
                  <li><a class="dropdown-item" href="#">Another action</a></li>
                  <li><a class="dropdown-item" href="#">Something else here</a></li>
                </ul>
              </li>
            </ul>
            <form role="search">
              <input class="form-control" type="search" placeholder="Search" aria-label="Search">
            </form>
          </div>
        </div>
      </nav>
</div>