<div class="container">
    <h1>Contact us</h1>
    <div class="row">
    

            <form class="col-lg-12" [formGroup]="contactForm" (ngSubmit)="sendData()">
                <mat-form-field class="col-lg-12">
                    <mat-label>Name</mat-label>
                    <input matInput  formControlName="name">
                </mat-form-field>
                <mat-form-field class="col-lg-12"> 
                    <mat-label>Title</mat-label>
                    <input matInput formControlName="title">
                </mat-form-field>
                <mat-form-field class="col-lg-12">
                    <mat-label>Message</mat-label>
                    <textarea matInput formControlName="message"></textarea>
                </mat-form-field>
                <button mat-button color="primary" type="submit">Send</button>
            </form>
     
    </div>

    <div class="row">
        <div class="col-lg-12">
            <div [ngSwitch]="trafficLight" class="trClass">
                <ng-template [ngSwitchCase]="yellowColor">It is yellow</ng-template>
                <ng-template ngSwitchCase="red">It is red</ng-template>
                <ng-template ngSwitchDefault>It is green</ng-template>
                
            </div>
        </div>
    </div>
</div>