<div class="container">
    <h1>Contact us</h1>
    <div class="row">
    

            <form class="col-lg-12" [formGroup]="contactForm" (ngSubmit)="sendData()">
                <mat-form-field class="col-lg-12">
                    <mat-label>Name</mat-label>
                    <input matInput  formControlName="name">
                </mat-form-field>
                <mat-form-field class="col-lg-12"> 
                    <mat-label>Title</mat-label>
                    <input matInput formControlName="title">
                </mat-form-field>
                <mat-form-field class="col-lg-12">
                    <mat-label>Message</mat-label>
                    <textarea matInput formControlName="message"></textarea>
                </mat-form-field>
                <button mat-button color="primary" type="submit">Send</button>
            </form>
     
    </div>
</div>